<div class="welcome">
  <app-background></app-background>
  <img class="welcome-logo active" src="assets/svgs/logo.svg" alt="leafs2"
       *ngIf="isLogoActive"
       [@enter-logo] [@leave-logo]/>
  <div class="welcome-main" *ngIf="isWelcomeSectionVisible" [@enter-main] [@leave-main]>
    <div class="welcome-main-logo">
      <img src="assets/svgs/logo.svg" alt="leafs2"/>
    </div>
    <div class="welcome-main-body">
      <div class="welcome-main-body-text">
        <p>EW has been designed to help you climb</p>
        <p>the ladder from a beginner in English through</p>
        <p>to the more advanced levels, all purposely</p>
        <p>designed to boost up learners</p>
        <img src="assets/svgs/dots.svg" alt="dots"/>
      </div>

      <div class="welcome-main-body-languages">
        <p>choose which language you want to learn</p>
        <img *ngFor="let language of languages"
             (click)="selectLanguage(language)"
             [src]="language.imageSrc"
             [alt]="language.name"
             [ngClass]="{'selected' : selectedLanguage === language.name}"/>
      </div>

      <div class="welcome-main-body-signup">
        <RoundedButton (click)="goTo('register')"
                       width="18rem"
                       height="4rem"
                       text="Sign up">
        </RoundedButton>
        <p>You already registered?</p>
        <span>Sign in</span>
      </div>

    </div>
  </div>
</div>
