<div class="login">
  <app-background></app-background>
  <div [@enter-main]
       [@leave-main]
       class="login-main">
    <div class="login-main-header">
      <img src="assets/svgs/left-arrow.svg"
           routerLink="/welcome"
           alt="arrow"
           class="arrow"/>
      <img src="assets/svgs/reading-book.svg"
           alt="reading-book"
           class="book"/>
    </div>
    <div class="login-main-body">
      <div class="login-main-body-sign">
        <h1 class="header">Sign in</h1>
        <img class="google"
             src="assets/svgs/google.svg"
             alt="google"/>
        <img class="line"
             src="assets/images/line.png"
             alt="line"/>
      </div>
      <form class="login-main-body-form">
        <span *ngIf="errorMessage"
              class="login-main-body-form-error">
          {{errorMessage}}
        </span>
        <input [(ngModel)]="loginRequest.email"
               [disabled]="isLoggingIn"
               [class.error]="errorMessage"
               (input)="errorMessage = ''"
               name="email"
               placeholder="E-mail"/>
        <input [(ngModel)]="loginRequest.password"
               [disabled]="isLoggingIn"
               [class.error]="errorMessage"
               (input)="errorMessage = ''"
               name="password"
               placeholder="Password"
               autocomplete="on"
               type="password"/>
        <RoundedButton (click)="signIn()"
                       [disabled]="isLoggingIn"
                       [isLoading]="isLoggingIn"
                       width="18rem"
                       height="4rem"
                       text="Sign in">
        </RoundedButton>
      </form>
      <div class="login-main-body-footer">
        <p>Are you not registered?</p>
        <span routerLink="/register">Sign up</span>
      </div>

    </div>
  </div>
</div>
