.register {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Oleo Script', cursive;
  &-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &-header {
      position: relative;
      height: 30vh;
      display: flex;
      justify-content: center;
      img.arrow {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        width: 1.5rem;
        cursor: pointer;
      }
      img.book {
        width: 20vh;
        position: absolute;
        top: 10vh;
        z-index: 1;
      }
    }
    &-body {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #EDF6F6;
      border-top-right-radius: 3rem;
      border-top-left-radius: 3rem;
      text-align: center;
      &-sign {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-weight: normal;
          font-size: 3.5vh;
          margin: 4rem 0 1rem 0;
        }
        img.google {
          width: 7vh;
          margin-bottom: 1rem;
        }
        img.line {
          width: 100%;
          margin-bottom: .5rem;
        }
      }

      &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        input {
          width: 100%;
          background-color: transparent;
          border: 1px solid #c8d0d0;
          padding: 0 1rem;
          height: 3.5rem;
          margin-bottom: 1rem;
          border-radius: 5px;
        }
        button {
          width: 100%;
          background-color: #B8005E;
          color: white;
          height: 4rem;
          border: 0;
          border-radius: 2rem;
          font-family: 'Oleo Script', cursive;
          font-size: 1.5rem;
        }
      }
      &-footer {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 1.3rem;
        }
        span {
          font-size: 1.2rem;
          text-decoration: underline;
          color: #B8005E;
        }
      }

    }
  }
}




